* {
    margin: 0;
    padding: 0;
}
.header {
    margin-top: 22px;
    font-size: 14px;
}
.left {
    display: inline-block;
}
.left ul li {
    display: inline-block;
    text-decoration: none;
    margin: auto 16px;
}
.left ul li a {
    text-decoration: none;
    color: #222222;
    font: 13px/23px Arial,sans-serif;
}
.right {
    display: inline-block;
    float: right;
    margin: auto 24px;
    font-size: 12px;
}
.setting {
    display: inline-block;
    margin-right: 35px;
}
.login {
    display: inline-block;
    width: 47px;
    height: 23px;
    line-height: 23px;
    background: #4e71f2;
    color: #fff;
    text-decoration: none;
    text-align: center;
    vertical-align: center;
    border-radius: 6px;
} 
.middle {
    display: flex;
    justify-content: center; 
}
.middle img {
    width: 270px;
}
.baidu_sousuo {
    display: flex;
    justify-content: center;
}
.baidu_sousuo input {
    width: 548px;
    height: 44px;
    border-color: #c4c7ce;
    /* 顺时针：左上，右上，右下，左下 */
    border-radius: 8px 0 0 8px; 
}
.baidu_sousuo a {
    width: 108px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background: #4e71f2;
    border-radius: 0 8px 8px 0;
    color: #fff;
}
.top {
    margin-top: 49px;
    display:flex;
    justify-content:center;
    /* align-items:center; */
}
.top_l {
    display: inline-block;
    font: 14px Arial,sans-serif;
    margin-right: 550px;
}
.top_r {
    display: inline-block;
    font: 14px Arial,sans-serif;
    color: #9195A3;
}
.item {
    display: flex;
    justify-content: center;
}
.item ol {
    display: inline-block;
    width: 630px;
    column-count:2;
    margin-top: 5px;
}
.item ol li {
    width: 246px;
    margin-right: 92px;
    font-size: 14px;
    line-height: 29px;
}
.li-1 {
    color: #fe2d6f;
}
.li-2 {
    color: #ff6600;
}
.li-3 {
    color: #faa90e;
}
.li-4 {
    color: #bfa2a3;
}
.item ol li a {
    margin-left: 4px;
    text-decoration: none;
    color: #222222;
}